<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SessionApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1FB183F34C4D4AB6AF1729C2B93CAF7023E70EFA</string>
				<key>dateExpires</key>
				<string>12/3/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>C59RKZM3HY.MediaOptimized.SessionApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>C59RKZM3HY</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>SessionApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2b48009f-d1d4-4b81-a5f0-08b3906046a6</string>
				<key>dateExpires</key>
				<string>12/10/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: MediaOptimized.SessionApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>C59RKZM3HY</string>
				<key>name</key>
				<string>Shawn McLean</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
