<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GIDClientID</key>
    <string>59069652308-j3d31qm9gnef849e7400h7fqh8j2234i.apps.googleusercontent.com</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>        
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.59069652308-j3d31qm9gnef849e7400h7fqh8j2234i</string>
            </array>
        </dict>
    </array>
    <key>UIAppFonts</key>
    <array>
        <string>AbrilFatface-Regular.ttf</string>
        <string>OpenSans-Bold.ttf</string>
        <string>OpenSans-Bolditalic.ttf</string>
        <string>OpenSans-CondBold.ttf</string>
        <string>OpenSans-ExtraBold.ttf</string>
        <string>OpenSans-ExtraBoldItalic.ttf</string>
        <string>OpenSans-italic.ttf</string>
        <string>OpenSans-Lightitalic.ttf</string>
        <string>OpenSans-Regular.ttf</string>
        <string>OpenSans-SemiBold.ttf</string>
        <string>OpenSans-SemiBoldItalic.ttf</string>
        <string>OpenSans-Soft-Bold.ttf</string>
    </array>
</dict>
</plist>